@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */

/* ====================== CSS FOR NAVBAR ========================================== */

.navbar {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; 
  line-height: 1.5;
  text-transform: uppercase;
  border: none; 
  background-color: #ffffff !important; 
  padding: 10px 20px; 
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:active {
  border: white !important;
}


.nav-link {
  font-weight: 300 !important;
  color: black;
}

.active{
  color: black;
  font-weight: 370 !important;

}

.navbar-brand{
  font-weight: 700;
  font-family: 'Playfair Display', serif;;
  letter-spacing: 3px;
  font-size: 20px;
}

/* CSS */
.dropdown-menu {
  border: none; 
}

.dropdown-menu {
  border: none;
  box-shadow: none; 

}

.dropdown-item {
  font-weight: 300 !important;
}

.nav-link,
.dropdown-item {
  font-weight: 300 !important;
  transition: background-color 0.3s;

  
  background-color: transparent;
  border-radius: 10px; 

  &:hover {
    background-color: rgba(255, 204, 204, 0.5);
  }
}



/*================================ FOOTER CSS ======================================== */

.footer{
  color:black;
  padding:25px;
  background: white;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000,
  );
  background: linear-gradient(to right,   #434343, #000000,);
}

.footer a {
  text-decoration: none;
  color:#434343;
  padding:10px;
}

.footer-brand{
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
}

.footer a:hover{
  color:#000000;
  border-bottom: 1px solid #ffefba;
}

/* PAGE NOT FOUND  CSS*/

.pnf{
  display:flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
  color:palevioletred;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color:black;
  border:1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}


/*===== TO BE ADDED - CONTACT US =============  */


/*==============================================*/



/* =======Products============= */
.product-link {
  text-decoration: none !important;
  color: black !important;
}


.btn-pink {
  background-color: palevioletred; 
  color: #fff;
  border: none; 
  border-radius: 20px; 
  min-width: 110px;
  padding:-2px;
  cursor: pointer; 
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-pink:hover {
  background-color: black;
}




/*Page content*/

.content{

    width: 18rem;
    margin-right: 50px;
    margin-bottom: 20px;

}

.moredetailsbtn{
    background-color: #696868;
    color:white;
    margin-bottom:10px;
  
}

.addtocartbtn{
    background-color: #B76E79;
    color: white;
    margin-bottom: 10px;
}

/*categories*/

.categorybutton-container{
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto ;
  background-image: url('../public/images/pinkjewelry.jpg');
}

.category-button{
  border: none;
  object-fit: cover;
  width: 100%;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white; /* Adjust text color for better visibility on the background */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add a text shadow for better contrast */
}

/*product details*/
.p-name{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.p-desc{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p-category{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.p-price{
  color:green;
  font-size: 30px;
}

.order {
  border: 2px solid rgba(241, 125, 179, 0.5); 
  border-radius: 2px; 
}


/*ADMIN ORDERS CUSTOM*/
.custom-table {
  border: none; 
  border-radius: 8px; 
}

.custom-table th, .custom-table td {
  border: 1px solid pink; 
  padding: 10px; 
}

.custom-table thead {
  background-color: #f17db3; 
  border: 1px solid pink;
  color: white; 
}



/*About page*/

.about-container {
  text-align: center;
  padding: 20px;
}

.about-heading {
  color: #ff69b4; /* Pink */
  margin-bottom: 20px;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-image {
  width: 100%;
  border-radius: 8px;
  margin: 20px 0;
}

.about-text {
  color: #000; /* Black */
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .about-image {
    margin: 10px 0;
  }
}

.about-heading{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

/*contact us*/
  .contact-container {
    text-align: center;
    padding: 20px;
  }

  .contact-heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: palevioletred; /* Pink */
    margin-bottom: 20px;
  }

  .contact-info {
    max-width: 600px;
    margin: 0 auto;
  }

  .contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .contact-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .contact-text {
    color: #000; /* Black */
    font-size: 16px;
  }

  .contact-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
  }