@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */

/* ====================== CSS FOR NAVBAR ========================================== */

.navbar {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; 
  line-height: 1.5;
  text-transform: uppercase;
  border: none; 
  background-color: #ffffff !important; 
  padding: 10px 20px; 
}

.nav-link {
  font-weight: 300 !important;
}

.active{
  color: black;
  font-weight: 370 !important;


}

.navbar-brand{
  font-weight: 700;
  font-family: 'Playfair Display', serif;;
  letter-spacing: 3px;
  font-size: 25px;
}

/*================================ FOOTER CSS ======================================== */

.footer{
  color:black;
  padding:25px;
  background: white;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000,
  );
  background: linear-gradient(to right,   #434343, #000000,);
}

.footer a {
  text-decoration: none;
  color:#434343;
  padding:10px;
}

.footer-brand{
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
}

.footer a:hover{
  color:#000000;
  border-bottom: 1px solid #ffefba;
}