/*=================== CSS FOR REGISTER =========*/

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height:70vh;
    flex-direction: column;
  }
  
  .pink-lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .line {
    width: 200px; 
    height: 2px; 
    background: pink;
    margin: 4px 0; 
  }
  
  